<section id="about">
    <div class="container">
        <h1 class="section-heading">About Me</h1>
        <div class="row text-xs-center">
            <div class="col-md-4 mb-md-0 mb-2">
                <img class="img" src="assets/images/divyashree.jpg" alt="Photo of Divyashree Iyer">
            </div>
            <div class="col-md-8 mt-md-0 mt-2">
                <div class="card">
                    <p *ngFor="let content of aboutContent">
                        {{content}}
                    </p>
                    <div class="socials">
                        <ul class="list">
                            <li>
                                <a href="https://github.com/Divyashree-iyer">
                                    <i class="bi bi-github"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://leetcode.com/divyashreeIyer" class="img">
                                    <img src="assets/svg/leetcode.svg" class="normal_img" alt="leetcode">
                                    <img src="assets/svg/leetcode-theme.svg" class="hover_img" alt="leetcode">
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/divyashree-iyer">
                                    <i class="bi bi-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/divyashreei">
                                    <i class="bi bi-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="mailto:diyer171100@gmail.com">
                                    <i class="bi bi-envelope"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <a class="btn"
                        href="https://drive.google.com/file/d/1blXOGF_b5EMk9tpeiZGTs3KIKt8xU-zc/view?usp=sharing"
                        target="_blank" rel="noopener noreferrer">
                        Resume
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>